@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* using work sans for */
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: rgb(0, 10, 45);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249, 249, 255);
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0px 2px 20px 0px rgb(132 144 255 / 30%);

  --my-hsla-background: hsla(177, 87%, 79%, 1);
  --my-gradient-background: linear-gradient(
    45deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );
  --my-moz-gradient-background: -moz-linear-gradient(
    45deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );
  --my-webkit-gradient-background: -webkit-linear-gradient(
    45deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* HEad section start */

.header {
  background-color: var(--bg);
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 3rem;
}

.navbar {
  display: flex;
  gap: 4.8rem;
}
.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

/* Reusable Code */
.section {
  padding: 9rem 0;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  background: var(--my-gradient-background);
  padding: 1.6rem 3.2rem;
  border: none;
  color: var(--helper-tint);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow: var(--shadowSupport);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;

}
.common-heading::before {
  content: "";
  position: absolute;
  background: var(--helper);
  top: 120%;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
}
.common-heading::after{
  content: "";
  position: absolute;
  background: var(--helper);
  height: 0.3rem;
  width: 20rem;
  left: 0;
  top: 127.8%;

}
/* HEro SECTION START */

.section-hero {
  background-color: var(--bg);
}
.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
  max-width: 60rem;
}
.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}
.section-hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img {
  max-width: 80%;
}

/* BIo data */
.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
}
